/* TSOS.css */

body {
  background: #909193;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: white;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

#cpuTable{
  color: black;
  background-color:white;
}

#cpuLabel {
  background-color:white;
  color : black;
  padding: 1px;
  border: 1px solid;
}

#memoryLabel{
  background-color: white;
  color: black;
  padding: 1px;
  border: 1px solid;
}

#memory{
  position: absolute;
  color: black;
  background-color: white;
  height:200px;
  width: 500px;
  overflow-y:scroll;
  display: block;  
}

#pcbLabel{
  background-color: white;
  color :black;
  padding: 2px;
  border: 2px solid;
}

#pcbTable{
  position: absolute;
  color:black;
  background-color: white;
  overflow-y: scroll;
}

h2 {
  color: white;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#DFDBC3;
  border: 2px solid black;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}